#dv-contenido {
    min-height: 400px;
}

// scrollable-table
.scrollableContainer {
    margin-top: 10px;
}

.scrollArea table .th-inner {
    background-color: $brand-success;
    color: #fff;
}
.breadcrumb {
    margin-bottom: 10px;
}

.spn-editable {
    display: block;
}

#logo-banner {
    height: $navbar-height;
}