$brand-primary:         #004272;
$brand-success:         #0C92F2;
$brand-info:            #A6A500;
$brand-warning:         #F5F436;
$brand-danger:          #FA0400;

$custom-font-size: 13px;
$carousel-indicators-bottom: -40px;
$carousel-indicators-size: 15px;
$separation-height: 15px;

$line-height-computed-costum: 15px;
$padding-custom: 10px;

// hover.css color
// $activeColor: $color-primary;