<ol class="breadcrumb">
    <li><a ui-sref="main">Inicio</a></li>
    <li>Mantenimiento</li>
    <li>Marcas</li>
</ol>
<h2>Marcas</h2>
<div class="alert alert-dismissible" ng-class="{'alert-success': message.code === 200, 'alert-danger': message.code !== 200 }" role="alert" ng-show="message.code !== undefined">
    <button type="button" class="close" ng-click="message.code = undefined" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ message.message }} 
</div>
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline">
            <div>
                <button type="button" class="btn btn-primary" ng-click="showMarcasAdd()"><span class="glyphicon glyphicon-plus"></span> Nueva Marca</button>
                <input class="form-control" placeholder="Buscar por la descripción" ng-model="table.search.descripcion" />
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="search.estado_id" value=""> 
                        Todos
                    </label>
                    <label>
                        <input type="radio" ng-model="search.estado_id" value="1"> 
                        Activos
                    </label>
                    <label>
                        <input type="radio" ng-model="search.estado_id" value="2"> 
                        Inactivos
                    </label>
                </div>
                <div class="pull-right">
                    Mostrando 
                    <select class="form-control" style="width: 70px; display: inline;" ng-change="table.onChangeItemsPerPage()"
                        ng-model="table.pagination.itemsPerPage" ng-options="option for option in [10, 50, 100, 150]">
                    </select> 
                    resultados por página
                </div>
            </div>
        </form>
    </div>
</div>
<scrollable-table watch="marcas" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-style="{'width': table.marcasWs.wId}" sortable-header col="id">Código</th>
                <th ng-style="{'width': table.marcasWs.wDescripcion}" sortable-header col="descripcion">Descripción</th>
                <th ng-style="{'width': table.marcasWs.wAcciones}">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-hide="!table.loading"><td colspan="3">Cargando...</td></tr>
            <tr ng-show="!table.loading && marcas.length === 0"><td colspan="3">No hay registros</td></tr>
            <tr ng-hide="table.loading" ng-class="{'warning': marca.estado_id === 4, 'danger': marca.estado_id === 2}" ng-repeat="marca in marcas" row-id="{{ marca.id }}">
                <td>{{ marca.id }}</td>
                <td>{{ marca.descripcion }}</td>
                <td>
                    <button ng-show="recibo.estado_id === 4" type="button" class="btn btn-primary btn-sm" ng-click="showRecibosEdit(recibo)" title="Modificar"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button ng-show="recibo.estado_id === 4" type="button" class="btn btn-default btn-sm" ng-click="showRecibosPagar(recibo)" title="Pagar"><span class="glyphicon glyphicon-check"></span></button>
                    <button ng-show="recibo.estado_id === 3" type="button" class="btn btn-warning btn-sm" ng-click="showRecibosCancelar(recibo)" title="Cancelar Pago"><span class="glyphicon glyphicon-remove"></span></button>
                    <button ng-show="recibo.estado_id === 4" type="button" class="btn btn-danger btn-sm" ng-click="showRecibosDelete(recibo)" title="Eliminar Recibo"><span class="glyphicon glyphicon-remove"></span></button>
                    <button ng-show="recibo.estado_id === 2" type="button" class="btn btn-default btn-sm" ng-click="showRecibosActivate(recibo)" title="Activar"><span class="glyphicon glyphicon-ok"></span></button>
                    <button ng-show="recibo.estado_id === 3" type="button" class="btn btn-default btn-sm" ng-click="showRecibosPagadoDetail(recibo)" title="Detalle de Pago"><span class="glyphicon glyphicon-search"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</scrollable-table>
<ul uib-pagination total-items="table.pagination.totalItems" first-text="Primero" 
    last-text="Último" next-text="Siguiente" previous-text="Anterior"
    items-per-page="table.pagination.itemsPerPage" ng-model="table.page" 
    class="pagination-sm" boundary-links="true" force-ellipses="true"
    ng-change="table.pageChanged()"></ul>